$color-white: #FFFFFF;
$color-theme:#FF7373;
$color-gray: #BBBBBB;
$color-light-gray:  rgba(112, 112, 112, 0.404);
$color-dark: #222529;
$colo-dark-gray: #616365;
$color-shadow: rgba(0, 0, 0, 0.06);
$color-extra-lightgray: #F8F8F8;

$linear-gradient-dark: #E6E6E6;
$linear-gradient-light: #F5F5F5;
$linear-gradient-transparent: $color-white;

$max-width: 1680px;